$tf/*
*.aps
*.bi
*.bsc
*.cache
*.db
*.iobj
*.ipch
*.ipdb
*.ilk
*.lastbuildstate
*.lnk
*.obj
*.opensdf
*.orig
*.pch
*.pdb
*.pgd
*.pst
*.resources
*.sdf
*.suo
*.swp
*.temp
*.tlog
*.tmp
*.user*
unsuccessfulbuild
*.VC.db
*.VC.opendb
*.vcxproj.user
*.vspscc
*.vssscc
**/.vs/*
**/.vscode/*
**/Bin/*
**/.nuget/*
**/Release*
**/Debug*
**/packages/*
build-*
testbuild*
src/build/*
**/*.kdev4
doxygen

